<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estate Planning Mom</title>
    <meta name="description" content="This is a basic starter template for MMPilot which includes Bootstrap Framework."/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,600,700" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body id="top">
    <header class="tf-header">
      <nav class="navbar py-5 navbar-dark">
        <div class="container">
          <h1><a class="navbar-brand" href="/">Estate Planning Mom</a></h1>
          <div id="navbar">
            <ul class="nav pull-right">
              <%for(let i=0; i<nav.length; i++) {%>
              <li class="nav-item">
                <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
              </li>
              <%}%>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="page-content">
      <div class="container">
        <form name="signupform" action="/auth/signUp" method="post">
          UserName: <input name="username" id="username" /><br/>
          Password: <input type="password" name="password" id="password" /><br/>
          <input type="submit" value="Sign up" />
          <input type="button" value="Login" />
        </form>
      </div>
    </div>
    </div>
    <footer class="bg-dark py-4 mt-5 tf-footer">
      <div class="container text-light">
        <div class="row">
          <div class="col-md-6 col-sm-12">&copy; Your Company Name. All rights reserved.</div>
          <div class="col-md-6 col-sm-12 text-right tf-design">Design - <a href="https://templateflip.com" target="_blank">Templateflip</a></div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>